/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 12rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  /* Modal Content */
  > .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 2rem;
    border: 0.1rem solid #888;
    width: 80%;
    height: 15rem;
  
    > .modal-message {
      font-size: 2rem;
      font-weight: 600;
      color: #12002b;
      text-align: center;
      margin-top: 5rem;
    }

    /* The Close Button */
    > .close-button {
      color: #aaaaaa;
      float: right;
      font-size: 3rem;
      font-weight: bold;

      &:hover,
      &:focus {
        color: #B00000;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}